$black-icon: #1A1818;
$yellow: #FAD648;
$number-brown: #5E5322;
$grey-font: #3C3C3C;
$grey-home-login-font:#737373;
$form-line: #707070;
$form-placeholder: #3C3C3C26;
$black: #000000;
$grey-background: #F0F1F1;
$white: #00000000;
